.custom-slider .rc-slider-track {
    background-color: #9C2448 !important; /* Cambia el color de la barra */
}

.custom-slider .rc-slider-handle {
    border-color: #9C2448 !important; /* Cambia el color del botón deslizante */
    background-color: #9C2448 !important;
}

.custom-slider .rc-slider-mark-text {
    color: #9C2448 !important; /* Cambia el color de las marcas */
}

.custom-slider .rc-slider-dot-active {
    border-color: #BC955B ;
    background-color: #BC955B
}

.custom-slider{
    padding: 2vh 2vw   !important; 
}

#slider_periodo{
    padding: 2vh 2vw;
}

.custom-button {
    background-color: #9C2448 !important; /* Color de fondo */
    color: white !important;            /* Color del texto */
    border-radius: 8px;                 /* Bordes redondeados */
    font-size: 14px;
    border: none;
    /* O cualquier otro estilo que desees */
}

.Select-control {
    width: 100% !important;
}